@import '../../../styles/colors'

.sidebar-header
  color rgba($darkAccent, 0.7)
  height 20px
  text-transform uppercase
  margin-left -5px
  margin-bottom 15px
  font-size 1.2rem
  font-weight 500

  &:after
    content ''
    width calc(100% - 40px)
    margin-left -5px
    height 1px
    background-color rgba($darkAccent, 0.2)
    display block
    position absolute
