html, body, div, span,
h1, h2, h3, h4, h5, h6, a,
form, label,
table, tbody, tfoot, thead, tr, th, td
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

body
  line-height 1.5
  font-family sans-serif

ol, ul
  list-style none

table
  border-collapse collapse
  border-spacing 0

@import './styles/theme'