# Ignore files to keep container slim

.git
.vscode
database
dist
node_modules
.dockerignore
.gitignore
travis.yml
CODEOWNERS
docker-compose.yml
Dockerfile
LICENSE
Makefile
README.md
jest.config.js
legacy/
