$lightShade =#d7d1cb
$lightAccent =#6e6473
$brand =#f24f17
$darkAccent =#993638
$darkShade =#312528

$primary =#f55520	
$info =#442737	
$success =#7f9442	
$warning =#fc840a	
$danger =#f44336

$lightBg = #edefea
$darkBg = $info
